<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="/" class="brand-wrap">
        <img src="/assets/imgs/theme/logo-color.png" class="logo" alt="Evara Dashboard" />
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize">
          <i class="text-muted material-icons md-menu_open"></i>
        </button>
      </div>
    </div>
    <nav>
      <ul class="menu-aside">
    
       
          <li class="menu-item " style="margin-bottom: 15px;">
            <a class="" href="/admin">
              <i class="icon material-icons md-home"></i>
              <span class="text" style="color: #000">Dashboard</span>
            </a>
          </li>
     
        <li class="menu-item has-submenu"style="margin-bottom: 15px;">
          <a class="" href="/admin/product">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text" style="color: #000">Products</span>
          </a>
        </li>
     
        <li class="menu-item has-submenu"style="margin-bottom: 15px;">
          <a class="" href="/admin/add_category">
            <i class="icon material-icons md-store"></i>
            <span class="text" style="color: #000">Categories</span>
          </a>
        </li>
       
        <li class="menu-item has-submenu"style="margin-bottom: 15px;">
          <a class="" href="/admin/orders">
            <i class="icon material-icons md-shopping_cart"></i>
            <span class="text" style="color: #000">Orders</span>
          </a>
        </li>
  
        
        <li class="menu-item has-submenu"style="margin-bottom: 15px;">
          <a class="" href="/admin/view_users">
            <i class="icon material-icons md-person"></i>
            <span class="text" style="color: #000">Users</span>
          </a>
        </li>
        
        
        <li class="menu-item"style="margin-bottom: 15px;">
          <a class="" href="/admin/add-coupon">
            <i class="icon material-icons md-stars"></i>
            <span class="text" style="color: #000">Coupon</span>

          </a>
        </li>
      
        <li class="menu-item has-submenu"style="margin-bottom: 15px;">
          <a class="" href="/admin/banners">
            <i class="icon material-icons md-settings"></i>
            <span class="text" style="color: #000">Banners</span>
          </a>
          </li>
          <li class="menu-item "style="margin-bottom: 15px;">
            <a class="" href="/admin/offers">
              <i class="icon material-icons md-monetization_on"></i>
              <span class="text" style="color: #000">Offers</span>
            </a>
          </li> 

      </ul>
      <br />
      <br />
    </nav>
  </aside>
  <script>
    //give the indication of the side bar
    // Get the current URL pathname
    const currentPathname = window.location.pathname;

    // Get all the menu items
    const menuItems = document.querySelectorAll('.menu-item');

    // Loop through each menu item and check if its pathname matches the current URL pathname
    menuItems.forEach(item => {
        const link = item.querySelector('a');
        const linkPathname = new URL(link.href).pathname;

        // Check if the current pathname matches the link's pathname
        if (currentPathname === linkPathname) {
            item.classList.add('indication');
        }
    });
</script>