<section >
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Cart
                <span></span>add address
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
      <div class="col-lg-6">
        <div class="col-md-12">
          <h2 class="text-center">Add Address</h2>
          
          <form  id="addressDetails">
            <input type="hidden" name="userId" value="">
            <div class="form-group">
              <label for="name">First Name *</label>
              <input type="text" name="name" id="name" placeholder="Enter your first name"
                 required>
              <label id="nmlabel" for="name" style="display: none; color:red;">This field is
                required</label>
              <label id="nmlabel-01" for="name" style="display: none; color:red;">Name doesn't start
                with a number</label>
              <label id="nmlabel-02" for="name" style="display: none; color:red;">Name doesn't contain
                special characters</label>
            </div>
            <div class="form-group">
                <label for="Lname">Last Name *</label>
                <input type="text" name="Lname" id="Lname" placeholder="Enter your first name"
                   required>
                <label id="nmlabel" for="Lname" style="display: none; color:red;">This field is
                  required</label>
                <label id="nmlabel-01" for="Lname" style="display: none; color:red;">Name doesn't start
                  with a number</label>
                <label id="nmlabel-02" for="Lname" style="display: none; color:red;">Name doesn't contain
                  special characters</label>
              </div>
            <div class="form-group">
              <label for="phone">Phone *</label>
              <input type="tel" name="phone" id="phone"  placeholder="Enter your phone number"
                 required>
              <label id="ml" for="phone" style="display: none; color:red;">This field is
                required</label>
              <label id="ml-01" for="phone" style="display: none; color:red;">Minimum 10
                digits required</label>
      
            </div>
            <div class="form-group">
              <label for="address">Address *</label>
              <input type="text" name="billingaddress" id="address" 
                placeholder="Enter your address"   required>
              <label id="adlabel" for="address" style="display: none; color:red;">This field is
                required</label>
              <label id="adlabel-01" for="address" style="display: none; color:red;">Address doesn't start
                with a number</label>
              <label id="adlabel-02" for="address" style="display: none; color:red;">Address doesn't contain
                special characters</label>
      
            </div>
            <div class="form-group">
              <label for="address2">Street</label>
              <input type="text" name="billingaddress2" id="address2"
                placeholder="Enter your address line 2"  required>
              <label id="adLlabel" for="address2" style="display: none; color:red;">This field is
                required</label>
              <label id="adLlabel-01" for="address2" style="display: none; color:red;">Address doesn't start
                with a number</label>
              <label id="adLlabel-02" for="address2" style="display: none; color:red;">Address doesn't contain
                special characters</label>
            </div>
            <div class="form-group">
              <label for="city">City/Town *</label>
              <input type="text" name="city" id="city"  placeholder="Enter your city/town"  required>
              <label id="adlabel" for="address2" style="display: none; color:red;">This field is
                required</label>
              <label id="adlabel-01" for="address2" style="display: none; color:red;">Address doesn't start
                with a number</label>
              <label id="adlabel-02" for="address2" style="display: none; color:red;">Address doesn't contain
                special characters</label>
      
            </div>
            <div class="form-group">
              <label for="state">State/County *</label>
              <input type="text" name="state" id="state" required placeholder="Enter your state/county">
      
            </div>
            <div class="form-group">
              <label for="zipcode">Postcode/ZIP *</label>
              <input type="text" name="zipcode" id="zipcode" required
                placeholder="Enter your postcode/ZIP">
      
            </div>
            <button  class="btn btn-success mt-4" onclick="addAddress(event)">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script>
    function addAddress(event){
            event.preventDefault()
            console.log("llllllllllllllll");
            $.ajax({
                url:'/add-checkoutAddress',
                type:'post',
                data:$('#addressDetails').serialize(),
                success:function(response){
                    swal('address addred succesfully').then(()=>{
                      location.href = '/shop-checkout';
                        })
                }
            })
    }
  </script>

    

  
